<div class="center">
  <h1>Welcome to a salary calculator!</h1>

  <%= form_tag '/upload', multipart: true do %>
      <label for="file">Please upload the .csv file to count the salaries of the employees</label>
      <br>
      <%= file_field_tag "file", class: "file_field" %>
      <br>
      <%= submit_tag "Calculate" %>
  <% end %>
</div>
